<% if resource.errors.any? %>
  <div id="error_explanation" class="absolute top-0 left-0 w-full bg-gray-300 flex flex-col pl-2 text-center">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
